<ul id ="menu">
  <li><a href = "/">Home</a></li>
  <li><a href = "/fish/about">About</a></li>
  <li><a href = "/fish/index">Fish</a></li>
  <% if user_login_signed_in? %>
    <li><a href = "/order/index">Orders</a></li>
  <% end %>
  <li><a href = "/admin/login">Admin Access</a></li>
</ul>