<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Water Type</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <% @water.each do |w| %>
        <tr>
          <td><%= w['id'] %></td>
          <td><%= w['water_type'] %></td>
          <td><a href = "/water/index/<%=w.id%>">View All Fish</a></td>
        </tr>
      <% end %>
  </tbody>
</table>
