<h1>Winnipeg Fish & Fins - About</h1>
<ul id ="menu">
  <li><a href = "/">Home</a></li>
  <li><a href = "/fish/about">About</a></li>
  <li><a href = "/fish/index">Fish</a></li>
  <li><a href = "/admin/login">Admin Access</a></li>
</ul>

<section>
    <h2><a href = "http://www.cichlaholic.com/lists.html">Fish dataset from this fish store's website</a></h2>
    <h3>Dataset Description:</h3>
    <p>The data that I will be using revolves around the fish in the aquarium hobby. The data is from a current fish store named 'Afishionadoes'</p>
    <p>The data is CSV structured and I will require the following tables: Fish, Water</p>
    <p>The columns I will require from the dataset are: Fish Name, Size, Stock and Fish Cost</p>
</section>
