<h1>Winnipeg Fish & Fins - Home</h1>
<ul id ="menu">
  <li><a href = "/">Home</a></li>
  <li><a href = "/fish/about">About</a></li>
  <li><a href = "/fish/index">Fish</a></li>
  <li><a href = "/water/index">Water</a></li>
  <li><a href = "/admin/login">Admin Access</a></li>
</ul>

<h2>Welcome to the Winnipeg Fish & Fins</h2>
<% if flash[:notice] %>
  <p>
    <%= flash[:notice]%>
  </p>
<% end %>

